/* GENERAL */
body {
    font-family: "San Francisco","Lucida Grande","Lucida Sans Unicode","helvetica neue",Verdana,tahoma,Aril,PingFangSC-Light,"hiragino sans gb",STXihei,"华文细黑","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei","微软雅黑",Heiti,"黑体",sans-serif;
    font-size: 16px;
}

p {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {
    width: 96%;
    margin: 0 auto;
}

@media screen and (min-width: 35.5em) {
    .container {
        width: 560px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 48em) {
    .container {
        width: 750px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 64em) {
    .container {
        width: 960px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 80em) {
    .container {
        width: 1120px;
        margin: 0 auto;
    }
}

.form-refine input, .form-refine textarea, .form-refine select {
    width: 100%;
}

/* HEADER */
header {
    width: 100%;
    height: 50px;
    background-color: #e35d5b;
    color: #ffffff;
}

header a {
    color: #ffffff !important;
    text-decoration: none;
}

header a:hover {
    color: #ffffff;
    text-decoration: none;
}

#logo {
    float: left;
    height: 50px;
    padding: 0 10px;
}

#header-toggle {
    position: relative;
    right: 0;
}

#user-panel-wrapper {
    float: right;
    height: 50px;
    line-height: 49px; /* 解决 inline-block 多出 1px 问题 */
}

#user-panel-wrapper a {
    display: block;
    padding: 0 10px;
}

#logo:hover, #user-panel-wrapper a:hover {
    background-color: #e44e44;
}

#user-panel-profile>ul {
    background-color: #e35d5b;
}

#user-panel-profile li {
    text-align: center;
}

/* FOOTER */
footer {
    margin-top: 10px;
    padding: 20px 0 10px 0;
    border-bottom: 10px solid #e35d5b;
    background-color: #ffffff;
    color: #999999;
    font-size: 0.75em;
}

@media screen and (min-width: 64em) {
    footer {
        margin-top: 50px;
        padding-bottom: 30px;
        border-bottom: 10px solid #e35d5b;
        color: #999999;
    }
}

#site-info {
    margin-top: 5px;
}

#site-info a {
    color: #999999;
    text-decoration: none;
}

#site-info a:hover {
    text-decoration: underline;
}

#site-contributor {
    margin-top: 5px;
}

#site-contributor i {
    color: #e35d5b;
}

/* MAIN BODY */
#main-body-wrapper {
    margin: 0;
}

@media screen and (min-width: 64em) {
    #main-body-wrapper {
        margin-top: 20px;
    }
}

/* INDEX */
#index-article-list>ul {
    list-style: none;
    padding-left: 0;
}

.index-article-list-category {
    padding: 0 5px;
    background-color: #beddf7;
    color: #3490de !important;
    text-decoration: none !important;
    font-weight: 400 !important;
}

@media screen and (min-width: 64em) {
    .index-article-list-category {
        padding: 0 5px;
        background-color: #beddf7;
        color: #3490de !important;
        text-decoration: none !important;
        font-weight: 400 !important;
    }
}

.index-article-list-category:hover {
    background-color: #3490de;
    color: #ffffff !important;
}

#index-article-pagination {
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    background-color: #ffffff;
    text-align: center;
    color: #e35d5b;
    font-size: 1.4em;
    letter-spacing: 0.01em;
}

#index-article-pagination a {
    margin: 0 10px;
    padding: 0 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #e35d5b;
}

@media screen and (min-width: 64em) {
    #index-article-pagination {
        width: 100%;
        margin: 50px 0;
        text-align: center;
        color: #e35d5b;
        font-size: 1.4em;
    }

    #index-article-pagination a {
        padding: 5px 20px;
        text-decoration: none;
        background-color: #cccccc;
        color: #333333;
    }
}

#index-article-pagination a:hover {
    background-color: #e35d5b;
    color: #ffffff;
}

/* 下面 article list 暂与其它 文章列表页 共用 */
.article-list-block {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
}

@media screen and (min-width: 64em) {
    .article-list-block {
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eeeeee;
        border-top: none;
        border-left: none;
        border-right: none;
    }
}

.article-list-block a {
    text-decoration: none;
}

.article-list-title a {
    color: #333333;
    font-size: 1.125em;
    letter-spacing: 0;
    line-height: 1.2em;
    font-weight: 600;
}

.article-list-title a:hover {
    color: #e44e44;
    text-decoration: none;
}

.article-list-title img {
    height: 18px;
    vertical-align: top;
}

@media screen and (min-width: 64em) {
    .article-list-title a:hover {
        color: #e44e44;
    }

    .article-list-title img {
        height: 20px;
        vertical-align: top;
    }
}

.article-list-meta {
    margin: 10px 0 5px 0;
    color: #999999;
    line-height: 25px;
    overflow: hidden;
}

.article-list-user a {
    color: #999999;
}

.article-list-user a:hover {
    color: #e35d5b;
}

.article-list-tags a {
    display: block;
    float: left;
    background-color: #ffe8e8;
    padding: 0 0.5em;
    margin-right: 3px;
    margin-bottom: 3px;
    font-size: 0.75em;
    color: #e35d5b;
    font-weight: normal;
}

.article-list-tags a:hover {
    background-color: #e35d5b;
    color: #ffffff;
}

.article-list-brief {
    margin-top: 10px;
    font-size: 0.875em;
    line-height: 1.3em;
    letter-spacing: 0;
    text-align: justify;
    color: #666666;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.article-list-brief img {
    width: 100%;
}

/* LOGIN & REGISTER */
.panel {
    margin-top: 10px;
    border: 1px solid #eeeeee;
    color: #777777;
}

@media screen and (min-width: 64em) {
    .panel {
        border: 1px solid #eeeeee;
        color: #777777;
    }
}

.panel-heading {
    background-color: #eeeeee;
    height: 20px;
    line-height: 20px;
    padding: 10px 20px;
}

.panel-body {
    padding: 20px;
}

.panel-link {
    text-decoration: none;
    color: #777777;
}

.panel-link:hover {
    color: #e44e44;
}

.panel .pure-form-message {
    min-height: 15px;
    line-height: 15px;
}

.panel input[name='remember'] {
    margin-bottom: 15px;
}

.panel #forget-password {
    margin-left: 15px;
}

.panel-column-line {
    height: 100%;
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
}

#panel-login-register-content {
    padding: 10px 0;
    line-height: 1.5em;
}

@media screen and (min-width: 64em) {
    .panel-column-line {
        height: 100%;
        margin: 0;
        padding-left: 20px;
        border-left: 1px solid #eeeeee;
        border-top: none;
    }

    #panel-login-register-content {
        padding: 5em 0 1em 0;
        line-height: 1.5em;
    }
}

/* PROFILE */
#profile-sidebar {
    border-right: 2px solid #e35d5b;
}

#profile-content {
    margin-left: 20px;
}

#profile-content>.pure-g {
    height: 30px;
    line-height: 30px;
}

#profile-content button {
    background-color: #e35d5b;
    color: #ffffff;
    height: 25px;
    line-height: 25px;
    padding-top: 0;
    padding-bottom: 0;
}

#profile-content button:hover {
    background-color: #e44e44;
}

/* ARTICLE */
/* ARTICLE CREATE/EDIT */
#article-create label, #article-edit label, #article-create span, #article-edit span {
    margin: 10px 0;
}

#article-create div.tagsinput {
    padding: 0 !important;
}

#article-create div.tagsinput input {
    margin: 0;
    width: 80px !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

#article-create div.tagsinput span {
    margin: 0 5px 0 0;
}

#banner-uploaded-image img {
    width: 100%;
}

#article-right {
    margin-left: 20px;
}

#content-editor {
    min-height: 500px;
}

#publish-button {
    margin-top: 36px;
}

#publish-button button {
    width: 100%;
    margin-bottom: 10px;
}

/* ARTICLE SHOW */
#article-show {
    margin-top: 10px;
    background-color: #ffffff;
}

#article-show a {
    text-decoration: none;
}

#article-show-top {
    overflow: hidden;
    letter-spacing: 0;
}

#article-show-tags {
    line-height: 25px;
    overflow: hidden;
}

#article-show-tags a {
    display: block;
    float: left;
    background-color: #ffe8e8;
    padding: 0 0.5em;
    margin-bottom: 0.2em;
    margin-right: 0.5em;
    font-size: 0.75em;
    color: #e35d5b;
    font-weight: normal;
}

#article-show-tags a:hover {
    color: #ffffff;
    background-color: #e35d5b;
}

#article-show-edit-panel {
    margin: 10px 0;
    height: 25px;
    line-height: 25px;
    float: right;
}

#article-show-edit-panel a {
    background-color: #7577CD;
    padding: 0.24em 0.72em;
    margin-right: 0.5em;
    color: #ffffff;
    font-weight: 300;
}

#article-show-edit-panel-edit {
    background-color: #09A599;
}

#article-show-title {
    padding: 10px 0;
    color: #333333;
    font-size: 1.5em;
    letter-spacing: 0.01em;
    text-align: justify;
    font-weight: 600;
}

#article-show-title img {
    height: 25px;
    vertical-align: top;
}

#article-show-meta {
    padding: 10px 0 5px 0;
    color: #999999;
    font-size: 0.875em;
    border-bottom: 1px solid #e35d5b;
    letter-spacing: 0;
}

#article-show-category a {
    padding: 2px 5px;
    background-color: #3490de;
    color: #ffffff !important;
}

#article-show-category a:hover {
    background-color: #0f81c7;
}

#article-show-banner {
    margin-top: 10px;
}

#article-show-banner img {
    width: 100%;
}

#article-show-content {
    margin-top: 10px;
    font-size: 1em;
    text-align: justify;
    letter-spacing: 0em;
    line-height: 1.6em;
    color: #333333;
}

#article-show-share {
    font-size: 0.8em !important;
    letter-spacing: 0;
}

#article-draft-title {
    font-size: 1.8em;
    color: #e35d5b;
}

#article-draft-content ul {
    list-style: none;
    padding: 0;
}

#article-draft-content li {
    padding: 8px;
}

#article-draft-content li.striped {
    background-color: #eeeeee;
}

.article-draft-content-panel {
    text-align: right;
}

.article-draft-content-panel a {
    text-decoration: none;
    color: #999999;
}

.article-draft-content-panel a:hover {
    color: #e35d5b;
}

/* CATEGORY */
#category-show {
    margin-top: 10px;
}

#category-show-title {
    margin-bottom: 20px;
    padding: 5px 10px;
    border-left: 5px solid #e35d5b;
    font-size: 1.4em;
}

#category-show-article-list>ul {
    list-style: none;
    padding-left: 0;
}

#category-show-category-list li {
    border-left: 5px solid #eeeeee;
    overflow: hidden;
    padding: 5px;
    background-color: #eeeeee;
}

@media screen and (min-width: 64em) {
    #category-show-category-list li {
        border-left: 5px solid #eeeeee;
        overflow: hidden;
        padding: 8px 10px;
        background-color: #eeeeee;
    }
}

#category-show-category-list li.active {
    border-left: 5px solid #e35d5b;
    background-color: #cccccc;
}

#category-show-category-list li:hover {
    border-left: 5px solid #e35d5b;
    background-color: #cccccc;
}

#category-show-category-list a {
    display: block;
    width: 100%;
    height: 100%;
}

.category-show-category-list-icon {
    height: 25px;
    float: left;
}

.category-show-category-list-icon>img {
    display: none;
}

.category-show-category-list-name {
    color: #999999;
    height: 25px;
    float: left;
    font-size: 0.9em;
    line-height: 25px;
}

@media screen and (min-width: 64em) {
    .category-show-category-list-icon>img {
        height: 21px;
        display: block;
    }

    .category-show-category-list-name {
        margin-left: 10px;
        color: #999999;
        height: 25px;
        float: left;
        font-size: 1.4em;
        line-height: 25px;
    }
}

/* TAG */
#tag-show-tag-list {

}

#tag-show-tag-list li {
    float: left;
}

#tag-show-tag-list li>a {
    display: block;
    margin: 4px 8px 4px 0;
    padding: 5px 8px;
    background-color: #eeeeee;
    text-decoration: none;
    color: #666666;
    font-weight: 300;
    font-size: 0.875em;
}

#tag-show-tag-list li>a:hover {
    background-color: #e35d5b;
    color: #ffffff !important;
}

#tag-show-tag-list-title {
    font-size: 1.3125em;
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
}

